
.vs/HospitalManagementSystem/FileContentIndex/0ea57c14-e18b-4d7e-8487-1f38300144b9.vsidx
.vs/HospitalManagementSystem/FileContentIndex/1661ccff-557f-4402-8d41-27bd22ce2029.vsidx
.vs/HospitalManagementSystem/FileContentIndex/1efa31e5-178d-4270-b32f-c17a41d6fa2e.vsidx
.vs/HospitalManagementSystem/FileContentIndex/34aeec34-477a-4185-97bc-9bbb1c9670ea.vsidx
.vs/HospitalManagementSystem/FileContentIndex/54be1d59-1a3c-4d91-a021-e827810aa6b7.vsidx
.vs/HospitalManagementSystem/FileContentIndex/63480e0a-c947-436c-8efd-fd5f3c08ff3c.vsidx
.vs/HospitalManagementSystem/FileContentIndex/8b25c84f-3a2d-4bda-984a-ddae904968ea.vsidx
.vs/HospitalManagementSystem/FileContentIndex/973ea695-a402-45fa-9d40-e7cbfbaf51c9.vsidx
.vs/HospitalManagementSystem/FileContentIndex/a85812b9-bda7-44f1-8aaf-86ba5569d4a7.vsidx
.vs/HospitalManagementSystem/FileContentIndex/aed64ef3-c7a3-4e0b-b3e0-fc698b8d2598.vsidx
.vs/HospitalManagementSystem/FileContentIndex/d2109150-533f-4d27-97cf-8f18ab7c0e7e.vsidx
.vs/HospitalManagementSystem/FileContentIndex/d88c670a-29c1-4ad6-9c8c-9ce847be5989.vsidx
HospitalManagementSystem/obj/Debug/net7.0/HospitalManagementSystem.GeneratedMSBuildEditorConfig.editorconfig
HospitalManagementSystem/obj/HospitalManagementSystem.csproj.nuget.dgspec.json
HospitalManagementSystem/obj/HospitalManagementSystem.csproj.nuget.g.props
HospitalManagementSystem/obj/project.assets.json
HospitalManagementSystem/obj/project.nuget.cache
